node_modules/

dist/server.js
dist/routes
dist/middlewares
dist/template
dist/config
dist/public/build/*
!dist/public/index.html
!dist/public/normalize.css
!dist/public/favicon.png

src/server/public/build/

.DS_Store
